.reel{
    display: flex; 
    justify-content: center; /*cuando direction es column centra vertical*/
                             /*cuando direction es row centra horizontal*/
    align-items: center; /*cuando direction es column centra horizontal*/
                         /*cuando direction es row centra vertical*/
    height: 120px;
}
.boton-reel{
    font-family: 'miFuente';
    font-size: 20px;
    color: #29ABE2;
    background-color: white;
    border-color: #29ABE2;
    width: 250px;
    margin: 20px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.boton-reel i{
    transition: all 0.5s ease-in-out;
}
.boton-reel img{
    width: 40px;
    height: 40px;
}
.boton-reel:hover{
    letter-spacing: 1px;
    color: #29ABE2;
    background-color: white;
    border-color: #29ABE2;
}

.boton-reel:hover i{
    color: #29ABE2;
}
.btn-primary:focus{
    box-shadow: none;
}
.logosignos{
    width: 25px;
    height: 25px;
    margin: auto;
}