.footer{
    height: 100%;
    background-color: black;
    padding: 15px 0;
}
.footer i{
    color: white !important;
}
.derechos p {
    margin: 0;
    padding: 20px;
}
.derechos{
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'miFuente';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.derechos li{
    text-decoration: none;
    list-style: none;
    padding: 0 10px;
}
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
